'context-menu':
  '.overlayer': [{
    label: 'Coffee Compile'
    command: 'coffee-compile:compile'
  }]

'menu': [
  {
    submenu: 'Packages'
    submenu: [
      label: 'Coffee Compile'
      submenu: [
        { label: 'Compile', label: 'coffee-compile:compile' }
      ]
    ]
  }
]
