'context-menu':
  '.overlayer':
    'Coffee Compile': 'coffee-compile:compile'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Coffee Compile'
      'submenu': [
        { 'label': 'Compile', 'command': 'coffee-compile:compile' }
      ]
    ]
  }
]
